<div class="container-fluid mb-3 px-0">
    <div class="img-container shadow">
        <span>IMAGEM CHAMADA</span><br />
        <span>1920 x 226</span>
    </div>
</div>

<div class="container">
    <div class="row my-3">
        <div class="col-12">
            <span class="text-little">GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO</span>
        </div>
        <div class="col-12">
            <h1>Desenvolvendo Times de Alta Performance</h1>
        </div>
        <div class="col-12">
            <p>Parceria da RFB com a Enap, este curso aborda o conhecimento e o desenvolvimento de competências gerenciais, além da vivência do exercício da liderança, fundamentais no ambiente de trabalho contemporâneo. O objetivo da parceria é trazer conteúdo para possibilitar aos gestores o aprendizado de técnicas que promovem a alta performance de equipes para o alcance dos objetivos estratégicos da instituição. Se interessou? Não perca a oportunidade, se inscreva!</p>

        </div>
    
    </div>
    
    <!-- row card -->
    <div class="row text-center">
        <!-- HR Características -->
        <div class="col-12">
            <div class="row px-5">
                <div class="col"><hr /></div>
                <div class="col-2 mx-0"><span class="hrTitle">Características</span></div>
                <div class="col"><hr /></div>
            </div>
        </div>
        <!-- Cards -->
        <div class="col-12 my-2">
            <div class="row p-1">
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card text-white bg-litech" style="max-width: 18rem; min-height: 10rem;">
                        <!-- <div class="card-header">Header</div> -->
                        <div class="card-body d-flex justify-content-center p-0">
                          <h1 class="card-title align-self-center">20h</h1>
                        </div>
                        <div class="card-footer">Carga Horária</div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card text-white bg-litech" style="max-width: 18rem; min-height: 10rem;">
                        <!-- <div class="card-header">Header</div> -->
                        <div class="card-body d-flex justify-content-center p-0">
                          <h1 class="card-title align-self-center" >Daniel Machado</h1>
                        </div>
                        <div class="card-footer">Mentor</div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card text-white bg-litech" style="max-width: 18rem; min-height: 10rem;">
                        <!-- <div class="card-header">Header</div> -->
                        <div class="card-body d-flex flex-column justify-content-center p-0">
                          <h1 class="card-title align-self-center" >OAB/MS</h1>
                          <p class="card-text align-self-center" >Av. Mato Grosso nº 4700</p>
                        </div>
                        <div class="card-footer">Local</div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-3">
                    <div class="card text-white bg-litech" style="max-width: 18rem; min-height: 10rem;">
                        <!-- <div class="card-header">Header</div> -->
                        <div class="card-body d-flex justify-content-center p-0">
                          <h1 class="card-title align-self-center" >Presencial</h1>
                          
                        </div>
                        <div class="card-footer">Modalidade</div>
                    </div>
                </div>
                
            </div>
        </div>

        <div class="col-12"><button class="btn">INSCREVA-SE</button></div>
    </div>    
</div>